Source: ros-humble-python-mrpt
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libfreenect-dev, libgl1-mesa-dev, libglfw3-dev, libglu1-mesa-dev, libjpeg-dev, liboctomap-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libswscale-dev, libtinyxml2-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.0-gtk3-dev, libxrandr-dev, libxxf86vm-dev, pkg-config, pybind11-dev, python3-pip, ros-humble-ament-cmake, ros-humble-cv-bridge, ros-humble-mrpt-libapps, ros-humble-mrpt-libgui, ros-humble-mrpt-libnav, ros-humble-mrpt-libslam, ros-humble-rclcpp, ros-humble-ros-environment, ros-humble-rosbag2-storage, wx-common, zlib1g-dev, ros-humble-ros-workspace
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-humble-python-mrpt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-mrpt-libapps, ros-humble-mrpt-libgui, ros-humble-mrpt-libnav, ros-humble-mrpt-libslam, ros-humble-ros-workspace
Description: Python wrapper for Mobile Robot Programming Toolkit (MRPT) libraries
