Source: ros-jazzy-python-mrpt
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libfreenect-dev, libgl1-mesa-dev, libglfw3-dev, libglu1-mesa-dev, libjpeg-dev, liboctomap-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libswscale-dev, libtinyxml2-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.2-dev, libxrandr-dev, libxxf86vm-dev, pkg-config, pybind11-dev, python3-pip, ros-jazzy-ament-cmake, ros-jazzy-cv-bridge, ros-jazzy-mrpt-libapps, ros-jazzy-mrpt-libgui, ros-jazzy-mrpt-libnav, ros-jazzy-mrpt-libslam, ros-jazzy-rclcpp, ros-jazzy-ros-environment, ros-jazzy-rosbag2-storage, wx-common, zlib1g-dev, ros-jazzy-ros-workspace
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-jazzy-python-mrpt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-mrpt-libapps, ros-jazzy-mrpt-libgui, ros-jazzy-mrpt-libnav, ros-jazzy-mrpt-libslam, ros-jazzy-ros-workspace
Description: Python wrapper for Mobile Robot Programming Toolkit (MRPT) libraries
